
---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const pageTitle  = "Blog";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

---
<BaseLayout pageTitle={pageTitle}>
  
		<h2> This blog stinks!.</h2>
		<p>blahblahblahblahblahlbah</p>
		<p>I want to play bloons!</p>
         <ul>
        {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        </ul>
</BaseLayout>
